



<div class="content-body">
    <div class="row back-up">
        <div class="col-lg-6">
            <div class="banner-image ">
        
                <img  src="./../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" alt="">
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container" style="padding-top: 10px;">
                <h1 style="color: #CCCCFF ;">
                    About Us
                </h1>
    
                <p style="font-size: large;color: #CCCCFF ;">Flores is small business that provides giftboxes to its customers.<br> 
                    The giftboxes available are fresh flower boxes, satin boxes,<br> mixed boxes and
                    custom boxes. Customers send a message on one <br> of her social media
                    platforms detailing what they want then Menka <br> sends them an invoice and
                    once payment is received the order will <br> be made and sent out. 
                </p>
    
                <p>
                    Menka is currently working alone but is looking into hiring employees.
                </p>
            </div>
           
        </div>
    </div>
    
    <div class="row">

        <div class="col-lg-6 pt-4" style="padding-left: 200px; width: 40%;">

            
                <h2 class="border-bottom mb-4">
                    <span style="background-color:#51007e ; color: white; padding-right: 10px; padding-left: 10px;"> On Air </span>
                </h2>
            

            <div class="card" style="width: 100%;">
                <div>
                    
                    

                    <div id='cont'>  
                        <span></span>  
                        <span></span>  
                        <span></span>  
                        <span></span>  
                        <span></span>  
                      </div>

                  <img class="card-img-top" src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" style="height: 180px;" alt="Card image cap">

                </div>
                <div class="card-body">
                    
                  <h5 class="card-title" style="font-weight: bold;">Mid-night shows with bra anthony and friends </h5>

                  <p>
                     <span style="display: inline;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                  </span>
                  </p>

                  
                 

                
                </div>

              </div>

        </div>

        <div class="col-lg-6 pt-4  " style="padding-left: 100px;">

            <h2 class="border-bottom mb-4">
                <span style="background-color:#51007e ; color: white; padding-right: 10px; padding-left: 10px;"> Latest News </span>
            </h2>

            <div clss=" shadow " style="padding-bottom: 20px;" >
                <div class="card " style="width: 90%; height: 30%; flex-direction: row;align-items: center;">
                    <img class="card-img-top" style="width: 30%; height: 100%;"  src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title" style="font-weight: bold;">Gauteng records slight decrease in contact crime for the second quarter </h5>
                    </div>
                  </div>
            </div>

            <div clss=" shadow" style="padding-bottom: 20px;"> 
                <div class="card " style="width: 90%; height: 30%; flex-direction: row;align-items: center;">
                    <img class="card-img-top" style="width: 30%; height: 100%;"  src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title" style="font-weight: bold;">Gauteng records slight decrease in contact crime for the second quarter </h5>
                    </div>
                  </div>
            </div>

            <div clss=" shadow-lg" style="padding-bottom: 20px;"> 
                <div class="card " style="width: 90%; height: 30%; flex-direction: row;align-items: center;">
                    <img class="card-img-top" style="width: 30%; height: 100%;"  src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title" style="font-weight: bold;">Gauteng records slight decrease in contact crime for the second quarter </h5>
                    </div>
                  </div>
            </div>

            
            
        </div>
        
    </div>

    <div class="container">
        <h2 class="border-bottom mb-4">
            <span style="background-color:#51007e ; color: white; padding-right: 10px; padding-left: 10px;"> Upcoming Shows </span>
        </h2>
        <ngb-carousel style="width: 80%;"  [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="3000">
            <ng-template ngbSlide  >
                <div class="card" >
                    <div>
                        
                        
    
                        <div id='cont'>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                          </div>
    
                      <img class="card-img-top" src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" style="height: 400px;" alt="Card image cap">
    
                    </div>
                    <div class="card-body">
                        
                      <h5 class="card-title" style="font-weight: bold;">Mid-night shows with bra anthony and friends </h5>
    
                      <p>
                         <span style="display: inline;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                      </span>
                      </p>
    
                      
                     
    
                    
                    </div>
                    
                  </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="card" >
                    <div>
                        
                        
    
                        <div id='cont'>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                          </div>
    
                      <img class="card-img-top" src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" style="height: 400px;" alt="Card image cap">
    
                    </div>
                    <div class="card-body">
                        
                      <h5 class="card-title" style="font-weight: bold;">Mid-night shows with Pabz </h5>
    
                      <p>
                         <span style="display: inline;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                      </span>
                      </p>
    
                      
                     
    
                    
                    </div>
                    
                  </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="card" style="width: 100%;">
                    <div>
                        
                        
    
                        <div id='cont'>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                          </div>
    
                      <img class="card-img-top" src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" style="height: 400px;" alt="Card image cap">
    
                    </div>
                    <div class="card-body">
                        
                      <h5 class="card-title" style="font-weight: bold;">Mid-night shows with bra anthony  </h5>
    
                      <p>
                         <span style="display: inline;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                      </span>
                      </p>
    
                      
                     
    
                    
                    </div>
                    
                  </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
