



<div class="content-body">
    
    <div class="row container-top">

        <div class="col-lg-6">
            <div class="banner-image ">
        
                <img  src="./../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" alt="">
                
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="container" style="padding-top: 10px;">
                <h1 style="color: #CCCCFF ;">
                    About Us
                </h1>
    
                <p style="font-size: large;color: #CCCCFF ;">Flores is small business that provides giftboxes to its customers.<br> 
                    The giftboxes available are fresh flower boxes, satin boxes,<br> mixed boxes and
                    custom boxes. Customers send a message on one <br> of her social media
                    platforms detailing what they want then Menka <br> sends them an invoice and
                    once payment is received the order will <br> be made and sent out. 
                </p>
    
               
            </div>
           
        </div>
    </div>
    
    <div class="row">

        <div class="col-lg-6 pt-4" style="padding-left: 200px; width: 40%;">

            
                <h2 class="border-bottom mb-4">
                    <span style="background-color:#5B32B3 ; color: white; padding-right: 10px; padding-left: 10px;"> On Air </span>
                </h2>
            

            <div class="card" style="width: 100%;">
                <div>
                    
                    

                    <div id='cont'>  
                        <span></span>  
                        <span></span>  
                        <span></span>  
                        <span></span>  
                        <span></span>  
                      </div>

                  <img class="card-img-top" src="../../../../assets/Images/Shows/what-skills-should-a-radio-or-television-announcer-have.jpg" style="height: 180px;" alt="Card image cap">

                </div>
                <div class="card-body">
                    
                  <h5 class="card-title" style="font-weight: bold;">Mid-night shows with bra anthony and friends </h5>

                  <p>
                     <span style="display: inline;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                  </span>
                  </p>

                
                </div>

              </div>

        </div>

        <div class="col-lg-6 pt-4  " style="padding-left: 100px;">

            <h2 class="border-bottom mb-4">
                <span style="background-color:#5B32B3 ; color: white; padding-right: 10px; padding-left: 10px;"> Latest News </span>
            </h2>

            <div clss=" shadow " style="padding-bottom: 20px;" >
                <div class="card " style="width: 90%; height: 30%; flex-direction: row;align-items: center;">
                    <img class="card-img-top" style="width: 30%; height: 100%;"  src="../../../../assets/Images/News/skynews-south-africa-police_6270653.jpg" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title" style="font-weight: bold;">Gauteng records slight decrease in contact crime for the second quarter </h5>
                    </div>
                  </div>
            </div>

            <div clss=" shadow-lg" style="padding-bottom: 20px;"> 
                <div class="card " style="width: 90%; height: 30%; flex-direction: row;align-items: center;">
                    <img class="card-img-top" style="width: 30%; height: 100%;"  src="../../../../assets/Images/News/rhino.jpeg" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title" style="font-weight: bold;">Kruger National has received funding to financing anti poaching unit </h5>
                    </div>
                  </div>
            </div>

            <div clss=" shadow-lg" style="padding-bottom: 20px;"> 
                <div class="card " style="width: 90%; height: 30%; flex-direction: row;align-items: center;">
                    <img class="card-img-top" style="width: 30%; height: 100%;"  src="../../../../assets/Images/News/SMSJBEKDDZKD3L77Z5MMKSTKME.jpg" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title" style="font-weight: bold;">South Africa former athlete Oscar Pistorius, probation request approved </h5>
                    </div>
                  </div>
            </div>

            
            
        </div>
        
    </div>
    
    
    <div class="container">
        <h2 class="border-bottom mb-4">
            <span style="background-color:#5B32B3 ; color: white; padding-right: 10px; padding-left: 10px;"> Upcoming Shows </span>
        </h2>
        <ngb-carousel style="width: 80%;padding-bottom: 30px;"  [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="3000">
            <ng-template ngbSlide  >
                <div class="card" >
                    <div>
                        
                        
    
                        <div id='cont'>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                          </div>
    
                      <img class="card-img-top" src="../../../../assets/Images/james-kovin-F2h_WbKnX4o-unsplash.jpg" style="height: 400px;" alt="Card image cap">
    
                    </div>
                    <div class="card-body">
                        
                      <h5 class="card-title" style="font-weight: bold;">Mid-night shows with bra anthony and friends </h5>
    
                      <p>
                         <span style="display: inline;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                      </span>
                      </p>
    
                      
                     
    
                    
                    </div>
                    
                  </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="card" >
                    <div>
                        
                        
    
                        <div id='cont'>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                          </div>
    
                      <img class="card-img-top" src="../../../../assets/Images/Shows/what-skills-should-a-radio-or-television-announcer-have.jpg" style="height: 400px;" alt="Card image cap">
    
                    </div>
                    <div class="card-body">
                        
                      <h5 class="card-title" style="font-weight: bold;">Mid-night shows with Pabz </h5>
    
                      <p>
                         <span style="display: inline;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                      </span>
                      </p>
    
                      
                     
    
                    
                    </div>
                    
                  </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="card" style="width: 100%;">
                    <div>
                        
                        
    
                        <div id='cont'>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                            <span></span>  
                          </div>
    
                      <img class="card-img-top" src="../../../../assets/Images/Banner1.jpg" style="height: 400px;" alt="Card image cap">
    
                    </div>
                    <div class="card-body">
                        
                      <h5 class="card-title" style="font-weight: bold;">Mid-night shows with bra anthony  </h5>
    
                      <p>
                         <span style="display: inline;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Today at: 09:30 - 10:30
                      </span>
                      </p>
    
                      
                     
    
                    
                    </div>
                    
                  </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <div class="container pb-4">
        

            <h2 class="border-bottom mb-4">
                <span style="background-color:#5B32B3 ; color: white; padding-right: 10px; padding-left: 10px;"> Events </span>
            </h2>

            <div class="row">

                <div class="col-lg-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <img class="card-img-top" style="height: 15em;" src="../../../../assets/Images/Events/98d4d54c1afcab410d53f630d75ae9ec0aec1790deb9d150e875440c961674cb-rimg-w960-h540-gmir.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">The Market</h5>
                          <h6 class="card-subtitle text-muted pb-3">  
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            22 December 2023
                          </h6>
                          <h6 class="card-subtitle text-muted pb-4">  
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            07:30am - 22:00pm
                          </h6>
                          <a href="#" style="float:right;background-color: #324ab2 ;" class="btn btn-primary">More Details</a>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <img class="card-img-top"style="height: 15em;" src="../../../../assets/Images/Events/SAITEX-2024-534x462.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><b>SAITEX</b> </h5>
                          <h6 class="card-subtitle text-muted pb-3">  
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            22 December 2023
                          </h6>
                          <h6 class="card-subtitle text-muted pb-4 ">  
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            07:30am - 22:00pm
                          </h6>
                          <a href="#" style="float:right;background-color: #324ab2 ;" class="btn btn-primary">More Details</a>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4">
                    <div class="card shadow-lg" style="width: 18rem;">
                        <img class="card-img-top" style="height: 15em;"  src="../../../../assets/Images/Events/Untitled.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" >Mr and Miss Mdantsane </h5>
                          <h6 class="card-subtitle text-muted pb-3">  
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            22 December 2023
                          </h6>
                          <h6 class="card-subtitle text-muted pb-4 ">  
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            07:30am - 22:00pm
                          </h6>
                          <a href="#" style="float:right; background-color: #324ab2 ;" class="btn btn-primary">More Details</a>
                        </div>
                      </div>
                </div>

            </div>

        
    </div>

    <div class="container">

        <h2 class="border-bottom mb-4">
            <span style="background-color:#5B32B3 ; color: white; padding-right: 10px; padding-left: 10px;"> Shows </span>
        </h2>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Monday">Monday shows</mat-tab>
            <mat-tab label="Tuesday">Tuesday shows</mat-tab>
            <mat-tab label="Wednesday">Wednesday shows</mat-tab>
            <mat-tab label="Thursday">Thursday shows</mat-tab>
            <mat-tab label="Friday">Friday shows</mat-tab>
            <mat-tab label="Saturday">Saturday shows</mat-tab>
            <mat-tab label="Sunday">Sunday shows</mat-tab>
          </mat-tab-group>
        

    </div>
    
</div>
