
<h2 style="text-align: center;color:black;">
    Delivery Fee
</h2>


    <button style="color:black" class="btn btn-primary ms-2"(click)="OpenModal()">
        Add Delivery Fee
    </button>

    <span class="float-end me-3">
            <input type="search" placeholder="Search Delivery Fee" (keyup)="applyFilter($event)">
    </span>



<div class="mat-elevation-z8 container-fluid " >
    <table style="margin-top: 10px;margin-left: 5px; margin-right: 5px;" mat-table [dataSource]="datasource " matSort (matSortChange)="announceSortChange($event)">

        <!-- DeliveryFee Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by name"> Delivery Fee </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency:'R':'symbol':'1.2-2'}} </td>
      </ng-container>
  

      <!-- Activate/Disactivate Column -->
      <ng-container matColumnDef="Activate">
        <th mat-header-cell *matHeaderCellDef > Activate/Deactivate Delivery </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-slide-toggle [(ngModel)]="element.isActive" (toggleChange)="ActivateDeliveryFee(element.id)">Activated: {{element.isActive}}</mat-slide-toggle>
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef  > Edit </th>
        <td mat-cell *matCellDef="let element"> 
            <button class="btn" (click)="EditDeliveryFee(element.id);OpenEditModal()" style="background-color: white;"><i class="material-icons">edit</i> </button>

        </td>
      </ng-container>
  
      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef > Delete </th>
        <td mat-cell *matCellDef="let element">  
            <button class="btn" (click)=" RequestToDeleteDeliveryFee(element.id); OpenDeleteModal()" style="background-color: white;"><i class="material-icons">delete</i> </button> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
                    [length]="deliveryFee.length"
                   [pageSizeOptions]="[ 3, 5, 10, 20]"
                   [pageSize]="5"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <br><br><br>
  <button mat-icon-button  [matTooltip]="toolTipText" class="custom-tooltip">
    <mat-icon class="extensive-help" >info_outline</mat-icon>
</button>