<div class="content-body">

    <div class=" container" >
        <h3 class="text-muted pt-5 pb-3">
            My Account
        </h3>

        <div class=" row">
            <div class="col-lg-4" style="width: 25rem;" >

                <div class="card  mb-3" style="width: 100%;">
                    <div class="card-header" style="background-color:#3E3C6D  ; color: white;">
                        <h4 >Orders <i class="fa fa-shopping-cart float-right" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="card-body">

                        <ul style="list-style: none;">
                            <li class="pb-2">
                                <a routerLink="/home">
                                    Orders Pending
                                </a>
                            </li>
                            <li class="pb-2">
                                <a routerLink="/home">
                                    Order History
                                </a>
                            </li>
                            <li >
                                <a routerLink="/home">
                                    Product Reviews
                                </a>
                            </li>
                        </ul>
                    </div>
                    

                 </div>
         
            </div>

            <div class="col-lg-4" style="width: 25rem;" >

                <div class="card  mb-3 pl-0" style="width: 100%; height:189.767px;">
                    <div class="card-header" style="background-color:#3E3C6D  ; color: white;">
                        <h4>Customer Information <i class="fa fa-user-circle float-right" aria-hidden="true"></i> 
                        </h4> 
                    </div>
                    <div class="card-body "  >

                        <ul style="list-style: none;">
                            <li class="pb-2 ">
                                <a routerLink="/home">
                                    Personal Details
                                </a>
                            </li>
                            <li class="pb-2">
                                <a routerLink="/home">
                                    Address
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    

                 </div>
         
            </div>

            <div class="col-lg-4" style="width: 25rem;" >

                <div class="card  mb-3" style="width:100%;height:189.767px;">
                    <div class="card-header" style="background-color:#3E3C6D  ; color: white;">
                        <h4>
                            Downloads<i class="fa fa-download float-right" aria-hidden="true"></i> 
                        </h4>
                    </div>
                    <div class="card-body">

                        <ul style="list-style: none;">
                            <li class="pb-2">
                                <a routerLink="/home">
                                    Ethics and Values
                                </a>
                            </li>
                            <li class="pb-2">
                                <a routerLink="/home">
                                    Refund Policy
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    

                 </div>
         
            </div>

            <div class="col-lg-4" style="width: 25rem;" >

                <div class="card  mb-3" style="width: 100%;height:189.767px;">
                    <div class="card-header" style="background-color:#3E3C6D  ; color: white;">
                        <h4>
                            Support <i class="fa fa-question-circle float-right" aria-hidden="true"></i>

                        </h4>
                    </div>
                    <div class="card-body">

                        <ul style="list-style: none;">
                            <li class="pb-2">
                                <a routerLink="/home">
                                    Help
                                </a>
                            </li>
                            <li>
                                <a routerLink="/home">
                                    Log Out
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    

                 </div>
         
            </div>
            
        </div>
    </div>
   
</div>