<div class="content-body">
    
    
    <h1 class="text-center" style="font-weight: 900; font-size: 50px;">
        About Us
    </h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="about-container">
                <h2 class="border-bottom mb-4">
                    <span class="heading"> Who We Are </span>
                </h2>
                <p>
                    Phase FM is an online radio station that broadcasts worldwide. The station studio is
                    located in Mdantsane, Buffalo City Metropolitan Municipality, Eastern Cape
                    Province in South Africa.
                   
                </p>

                <p>
                    The station brings and provides fresh, innovative, unique and fascinating radio
                    format of programmes that cater for young and old listeners.
                </p>

                <p>
                    <b>IPhase FM iyanimema nihambe nayo kulomzila onika umdla ka nomathoholo. </b>
                </p>
            </div>
        </div>

        <div class="col-lg-6 about-img-cont">
            <img src="../../../../assets/Images/About-Us/fringer-cat-hddmXlPaFGo-unsplash.jpg" class="img-content" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mission-container">
            <h2 class="border-bottom mb-4">
                <span class="heading"> Our Mission </span>
            </h2>

            <div class="row">
                <div class="col-lg-6">
                    <p>
                        With our unwavering commitment to
                        showcasing diverse voices and stories by
                        engaging with our listeners through our
                        amazing content, and we strive to foster a
                        sense of belonging among our listeners.
                        Phase FM is more than just a radio station,
                        it's a lifeline for connection and inspiration.
                        The station brings and provides fresh,
                        innovative, unique and fascinating radio
                        format of programmes that cater for young
                        and old listeners.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="../../../../assets/Images/Vision/ameenfahmy-_gEKtyIbRSM-unsplash.jpg" class="img-content" alt="">
                   
                </div>
            </div>
        </div>

        <div class="col-lg-6 vision-container">
            <h2 class="border-bottom mb-4">
                <span class="heading"> Our Vision </span>
            </h2>

            <div class="row">
                <div class="col-lg-6">
                    <p>
                        To become a leading online
                        commercial radio station with
                        vibrant energy and amplifying
                        the heartbeats. 
                    </p>

                    <p>
                        We connect
                        people through enriching minds
                        as we set out to connect people
                        through stories that inspire
                    </p>

                </div>

                <div class="col-lg-6">
                    <img src="../../../../assets/Images/Vision/drew-dizzy-graham-_Sr03VSKIeg-unsplash.jpg" class="img-content" alt="">
                </div>
            </div>

        </div>

    </div>

    <div class="container-fluid services-container"  >

        <h2 class="border-bottom mb-4">
            <span class="heading"> Our Services </span>
        </h2>

        <div class="row" >
            <div class="col-lg-3" >

                <div class="card  mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="background-color:#3E3C6D  ; color: white;"><h4 class="text-center">Advertising </h4></div>
                    <div class="card-body">
                      
                      <p class="card-text">We offer advertising at a discounted rate contact us for more info.</p>
                    </div>
                    <a href="#" style="float:right; background-color:#B131EB; color: white;" class="btn btn-primary">Contact Us</a>

                 </div>
         
            </div>

            

        </div>
       
    </div>

</div>


