
.about-container{
    padding-left: 70px;
    
}

.about-container p{
    font-size: medium;
}

.img-content{
    width: 60%;
    height: 66%;
    border-radius: 20px 20px 20px  20px;
}


//heading styling 
.border-bottom{
	height: 38px;
	border-width: thick !important;
	border-color:  #5B32B3 !important;
}

//Styling for heading
.heading{
	background-color:#5B32B3 ;
	color: white; 
    padding-right: 10px; 
	padding-left: 10px;
 }

 .mission-container{
    padding-left: 75px;
 }

 .vision-container{
    padding-right: 75px;
 }

 .img-service{
    width: 40%;
    height: 20%;
 }