.modal-title{
    font-weight: bold;
}

//form-input validation error styling
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
    color: red;
  }
  
  input.ng-invalid.ng-touched {
  border: 1px solid red;
  color: red;
  }
  
  .error {
    color: red;
    
  }