<footer class="footer-02 "  >
    <div class="container " >
      
        <div class="row ">
            <div class="col-md-4 col-lg-5 ">
                <div class="row">
                    <div class="col-md-12 col-lg-8  ">
                       
                        <a href="#" class="logo1" >
                            <img src="../../../../assets/Images/PhaseFmLogo.jpg" width="180" height="150" alt="">
                        </a>
                        <p>
                            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> <span> 079 80 63229</span></a>
                        </p>
                        <p>
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> <span> phaseFmgmail.com</span></a>
                        </p>
                    
                        <p>
                            <a class="pe-3" href="">
                                <i class="fa fa-facebook-official social-media" style="font-size: 40px;" aria-hidden="true"></i>
                            </a>
                            
                            <a class="pe-3" href="">
                                <i class="fa fa-instagram social-media" aria-hidden="true"></i>
                            </a>

                            <a class="social-media pe-3" href="">
                                <i class="fa fa-twitter-square social-media" aria-hidden="true"></i>
                            </a>

                            
                            
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row">
                    <div class="col-md-3 mb-md-0  border-left">
                        <h2 class="footer-heading" style="color: #51007e; font-weight: 700;">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Shop our Collection</a></li>
                            <li><a href="#" class="py-1 d-block">About Us</a></li>
                            <li><a href="#" class="py-1 d-block">Back to Radio</a></li>
                            <li><a href="#" class="py-1 d-block">News</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 border-left">
                        <h2 class="footer-heading" style="color: #51007e; font-weight: bold;">Engage With Us</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Contact Us</a></li>
                            <li><a href="#" class="py-1 d-block">Support</a></li>
                            <li><a href="#" class="py-1 d-block">Privacy Policy</a></li>
                            <li><a href="#" class="py-1 d-block">Blog</a></li>
                        </ul>
                    </div>
                    
                   
                </div>
            </div>
        </div>

        <div class="row border-top ">
            <div class="col-md-6 col-lg-8">

                <p class="copyright">
                    Copyright &copy;
                     All rights reserved | Powered by 
                      <i class="ion-ios-heart" aria-hidden="true"></i> by <a href=""
                        target="_blank">Mokau Masemola</a>
                </p>
            </div>
        </div>
    </div>

    
</footer>