.banner-image{
    width: 100%;
    height: 200px;
    object-fit:fill;
    opacity: .8;
}

.banner-heading{
    position: absolute;
    top: 26%;
    left: 38%;
    font-weight: bolder;
}

.image-container{
    position: relative;
}

.sort-by{
    display: inline-block;
    
}

