<div class="content-body">
    <div class="image-container">
        <img class="banner-image" src="../../../../../assets/Images/lucrezia-carnelos-wQ9VuP_Njr4-unsplash.jpg" alt="">

    <h1 class="banner-heading">
       Shop Our Products
    </h1>
    </div>

    <div class="row pl-4 pt-4">
        <h4 class="text-center">
            <span style="color: #324ab2 ;"> Featured </span> Products
        </h4>

        <h6>
            <span>
                <b>
                    Shop Products
                </b>
            </span>/ 
            <span style="color:#324ab2">
                All Products
            </span>
        </h6>

        
            <div class="card shadow float-left mb-4 pr-4" style="width: 96%">
                <div class="card-body">
                    <div class="sort-by">
                        <label> Sort By: </label>
                        <mat-form-field color="warn">
                            
                        <mat-label>Sort By</mat-label>
                            <mat-select  name="orderName"  required>
                                <mat-option  >
                                    Pricer: Lowest to Highest
                                    
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error class="error">
                                Please select a Package
                         </mat-error> -->
                    </mat-form-field>
                    </div>

                    <span class="align-center">
                        50 results
                    </span>
                    
                    <div class="sort-by float-right" >
                        <a class="btn btn-secondary " >
                            Filter
                        </a>
                    </div>
                </div>
                
                
            </div>
        
        

        <div class="container">
            <div class="col-lg-3 pb-3">
                <div class="card shadow-lg" style="width: 17rem; ">
                    <img class="card-img-top image-fluid" style="min-height: 1px; "  src="../../../../../assets/Images/Untitled.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center pb-3" >Poster for bedroom xs wall</h6>
                      <div class="text-center pb-3">
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                     </div>
                      <h4 class="card-subtitle text-muted text-center pb-3">  
                        <b> R450.00</b>
                      </h4>
                      
                      <a href="#" style=" background-color: blueviolet ; color: black; display: block;" class="btn btn-primary mb-3">More Details</a>
    
                      <a href="#" style=" background-color: greenyellow ; color: black; display: block;" class="btn btn-primary mb-3">Add To Cart</a>
    
                    </div>
                  </div>
                  
            </div>
        </div>
        

        
    </div>
    
</div>