

footer{
    background-color: #324ab2 ;
    padding-top:30px;
    min-height: 20px; /* whatever you want it to be */
    
}

p{
    color:black;
}

.logo1{
    mix-blend-mode: multiply;
    

}

.social-media {
    font-size: 30px;
    color: #51007e;
}
// @media (max-width: 1199.98px)  {
//     footer{
//         height: 90%;
//         padding-top: 0px;
//     }

//     .footer-container{
//         padding-left: 20%;
//     }
    

    
// }