
<h3 mat-dialog-title class="modal-title fw-bolder">
    
    Edit Product Catgory
    <i class="material-icons" style="cursor: pointer;margin-left: 80%;" (click)="CloseEditModal()">cancel</i>
</h3>

<div mat-dialog-content class="container-fluid">
    <div mat-dialog-actions class="row">
        <div class="col-6 offset-2">

            <div *ngIf="showError" class="alert alert-danger" role="alert" style="width:fit-content">
                <span [innerHTML]="errorMessage" style="color:red"></span>
            </div>
            
            <form class="form-group" #form="ngForm" (ngSubmit)="EditProductCategory()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Enter Product Category Name"  id="name"
                    name="name"   [(ngModel)]="productCategory.name"  ngModel #name="ngModel" required  >
                    <div *ngIf="name.errors?.['required'] " class="error" >
                         Name is required 
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" placeholder="Enter Product Category Description"  id="description"
                    name="description"   [(ngModel)]="productCategory.description" ngModel #description="ngModel" required    >
                    </textarea>
                    <div *ngIf="description.errors?.['required']" class="error" >
                        Description is required
                    </div>
                </div>
                
                
                <div class="float-end">
                    <button type="button" class="btn btn-outline-primary me-2 "  (click)="CloseEditModal()">
                        Discard
                    </button>
            
                    <button type="submit"
                    class="btn btn-primary  "
                    
                    [disabled]="
                      !productCategory.name ||
                      !productCategory.description
                      ">Submit</button>
                </div>
                
                    
               

                

            </form>
        </div>
    </div>


